
@{
    ViewBag.Title = "CourseModule";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Add Course Module</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Course Module Details</h4>
            </div>
            <div class="card-body">
                @model Tuple<Stucation.Models.CourseModuleDto, List<Stucation.Models.CourseModuleDto>> 

                @using (Html.BeginForm("SubmitCourseModule", "Course", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Course Name</label>
                                @Html.DropDownListFor(model => model.Item1.courseId, ViewBag.Course as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Item1.courseId)
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Module Name</label>
                                @Html.DropDownListFor(model => model.Item1.moduleId, ViewBag.ModuleList as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Item1.moduleId)
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Priority</label>
                                @Html.DropDownListFor(model => model.Item1.priority, new SelectList(new[] { "Mandatory", "Optional" }), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Item1.priority)
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Status</label>
                                @Html.DropDownListFor(model => model.Item1.status, new SelectList(new[] { "Active", "Inactive" }), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Item1.status)
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>

                    </div>
                }
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    
                    <table id="example3" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Course</th>
                                <th>Module</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var data in Model.Item2)
                            {
                                <tr>
                                    <td><strong>@data.courseModuleId</strong></td>
                                    <td>@data.courseId</td>
                                    <td>@data.moduleId</td>
                                    <td>@data.priority</td>
                                    <td>@data.status</td>
                                    <td>@data.dateCreated</td>
                                    <td>
                                        <a href="~/Module/EditModule?i=@data.moduleId" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-danger" style="display:none;"><i class="la la-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

